
  .container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  }

  .section-1 {
display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 1px;
    grid-row-gap: 40px;
    width: auto;
  }

  
  .titulo-tortas {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
  
  .hr-tortas {
    width: 5rem;
    margin: auto;
  }
  
  .caja-producto {
    width: 350px;
    border: 1px solid #d8d3d3;
    border-radius: 5px;
  }
  
  .detalles-torta {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  button {
    background-color: transparent;
  }
  
  .detalles-torta h5 {
    font-size: 25px;
    font-weight: 600;
  }
  
  .detalles-torta p {
    font-size: 20px;
  }
  .carrito-compras {
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 4px;
    color: black;
  }
  
  .carrito-compras:hover {
    transition: 0.3s ease;
    text-decoration: none;
    color: #e382d3;
  }
  
  .carrito__icon {
    cursor: pointer;
  }
  
  .carrito__icon i {
    font-size: 2rem;
    color: #e382d3;
  }
  
  .carrito__icon span {
    position: relative;
    top: -1rem;
    font-size: 1.5rem;
    border-radius: 100%;
  }
  
  .detalles-boton{
    text-decoration: none;
    color: black;
    border: 1px solid #d8d3d3;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 4.5rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: sans-serif, "Poppins";
  }

  .detalles-boton:hover {
    cursor: pointer;
    color: #e382d3;
    transition: .3s ease;
  }

  .imagen-torta {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 1149px) {

    .section-1 {
      display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(3, auto);
          grid-column-gap: 10px;
          grid-row-gap: 40px;
        }
  }

  @media only screen and (max-width: 809px) {
    .section-1 {
      display: grid;
          grid-template-columns: repeat(1, auto);
          grid-template-rows: repeat(3, auto);
          grid-column-gap: 10px;
          grid-row-gap: 40px;
        }
  }

  @media only screen and (max-width: 360px) {
    .caja-producto {
      width: 300px;
    }
    .detalles-torta h5 {
      font-size: 20px;
      font-weight: 600;
    }
    
    .detalles-torta p {
      font-size: 18px;
    }

    .detalles-boton{
      text-decoration: none;
      color: black;
      border: 1px solid #d8d3d3;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      width: 150px;
      margin-left: 4.5rem;
      padding-top: .9rem;
      padding-bottom: .9rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-family: sans-serif, "Poppins";
    }
  }