
.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background-color: #f2f2f2;
}
.form button:hover {
  background: #EFADD7;
  color: white;
  transition: all .2s ease;
}

.form button:active {
  background: #e634a4e0;
}



.form h3 {
    margin-bottom: 2rem;
}

.id-compra {
  text-align: center;
}

.id-compra p {
  font-size: 1.2rem;
  font-family: sans-serif, 'Poppins';
  margin-bottom: 1rem;
}

.id-compra span {
  font-style:oblique ;
}

@media only screen and (max-width: 360px) {
  .form {
    position: relative;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 200px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 200px;
    border: 0;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    background-color: #f2f2f2;
  }

  .id-compra p {
    font-size: 1rem;
    font-family: sans-serif, 'Poppins';
    margin-bottom: 1rem;
  }
  
  .id-compra span {
    font-style:oblique ;
  }
}


